.AvatarComponent{
    min-width: 150px;
    height: 150px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    margin-top: -90px;
    align-self: center;
    border: 5px solid white;
    border-radius: 9999px;
}