.PersonalInfoComponent{
    width: 100%;
    overflow: hidden;
    //that crazy selector for customizing materialUI =.=
    span > div > div > div:first-of-type{
        width: 180px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
}
